.titulo {
    margin-top: 20px;
    text-align: center;
    color: #ad11dd;
    font-size: 3rem;
}

.contenedor-reglas {
    align-content: center;
    background-color: #f8f9fa;
    padding: 40px 24px;
    border-radius: 5px;
    border: rgb(104, 14, 179) 1px solid;
    margin: auto;
    max-width: 600px;
    margin-top: 20px;
    font-size: large;
    box-shadow: 7px 7px 56px 11px rgba(197,26,240,0.48);
    font-size: 1.5rem;
}
#resultadoContrasena{
    background-color: black;
    color: white;
    justify-items: center;
}

.contenedor-resultado {
    align-content: center;
    background-color: #f8f9fa;
    padding: 40px 24px;
    border-radius: 5px;
    border: rgb(104, 14, 179) 1px solid;
    margin: auto;
    max-width: 600px;
    margin-top: 20px;
    font-size: large;
    box-shadow: 7px 7px 56px 11px rgba(197,26,240,0.48);
    font-size: 1.5rem;
}
#resultadoContrasena{
  font-size: 1.5rem;
}
#btnCopiar {
  background-color: #2d2d2d;
  color: white;
  border: none;
  cursor: pointer;
  padding: 6px 10px;
  font-size: 1.2rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

#btnCopiar:hover {
background-color: #444;
}
.contenedor-copiar {
	display: flex;
	align-items: center;
	gap: 10px;
}

.entrada-contrasena {
	flex: 1;
	padding: 10px;
	font-size: 1rem;
	background-color: black;
	color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	resize: none;
}

#botonGenerar {
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 8px 12px;
    margin: 14px 5px 7px 5px;
    background-color: rgb(144, 17, 241);
}

.botones {
    display: flex;
}

.configuraciones {
    align-content: center;
    align-items: center;
}

.fuerza-contenedor {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #222;
  color: white;
  justify-content: space-between;
}

  
  .etiqueta-fuerza {
    font-weight: bold;
    color: #aaa;
  }
  
  .texto-fuerza {
    min-width: 60px;
    font-weight: bold;
    color: white;
  }
  
  .barras-fuerza {
    display: flex;
    gap: 4px;
  }
  
  .barra {
    width: 10px;
    height: 20px;
    background-color: #333;
    border: 1px solid #555;
    transition: background-color 0.3s ease;
  }
  
  .barra.activa {
    background-color: #facc15; /* default yellow */
  }
  
  /* Colores por nivel */
  .barra.debil {
    background-color: #dc2626; /* rojo */
  }
  .barra.media {
    background-color: #f97316; /* naranja */
  }
  .barra.dificil {
    background-color: #facc15; /* amarillo */
  }
  .barra.robusta {
    background-color: #22c55e; /* verde */
  }
  
  